{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": ["error", { "variables": false }],
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "max-len": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./"],
        "extensions": [".js", ".png", ".ios.js", ".android.js"],
        "alias": {
          "shared": "./src/components/shared",
          "screens": "./src/components/screens",
          "api": "./src/api",
          "config": "./src/config",
          "lib": "./src/lib",
          "helpers": "./src/helpers",
        }
      }
    }
  }
}
